@import "tailwindcss";

.button {
  @apply bg-purple-600 px-8 py-3 rounded-3xl text-white
}

.input {
  @apply border border-gray-400 rounded-b-md p-3 rounded-lg p-3 w-full
}

:root {
  background-color: #000000; /* Example: a light gray background */
}
